name: Compile and release

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  PLUGIN_NAME: mitm
  SCRIPTS_PATH: addons/sourcemod/scripting
  SM_VERSION: '1.12.x'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Cache include files
        id: cache-includes
        uses: actions/cache@v5
        with:
          path: ${{ env.SCRIPTS_PATH }}/include
          key: includes-${{ hashFiles('.github/workflows/main.yml') }}

      - name: Download repositories
        if: steps.cache-includes.outputs.cache-hit != 'true'
        run: |
          set -e
          declare -A repos=(
            ["https://github.com/TF2-DMB/CBaseNPC"]="addons/sourcemod/scripting/include"
            ["https://github.com/Scags/SM-Memory"]="pawn/sourcemod/scripting/include"
          )

          mkdir -p "${{ env.SCRIPTS_PATH }}/include"

          for repo in "${!repos[@]}"; do
            repo_name=$(basename "$repo")
            include_path="${repos[$repo]}"
            echo "Cloning $repo..."
            git clone --depth 1 "$repo" "$repo_name"

            find "$repo_name" -type f -name "*.inc" | while read -r file; do
              relative_path="${file#*/scripting/include/}"
              mkdir -p "${{ env.SCRIPTS_PATH }}/include/$(dirname "$relative_path")"
              mv "$file" "${{ env.SCRIPTS_PATH }}/include/$relative_path"
            done

            rm -rf "$repo_name"
          done

      - name: Download include files
        if: steps.cache-includes.outputs.cache-hit != 'true'
        run: |
          set -e
          includes=(
            "https://raw.githubusercontent.com/DoctorMcKay/sourcemod-plugins/master/scripting/include/morecolors.inc"
            "https://raw.githubusercontent.com/Mikusch/PluginStateManager/master/addons/sourcemod/scripting/include/pluginstatemanager.inc"
            "https://raw.githubusercontent.com/haxtonsale/LoadSoundScript/refs/heads/master/sourcepawn/loadsoundscript.inc"
            "https://raw.githubusercontent.com/nosoop/SM-TFUtils/refs/heads/master/scripting/include/tf2utils.inc"
            "https://raw.githubusercontent.com/FlaminSarge/tf2attributes/refs/heads/master/scripting/include/tf2attributes.inc"
            "https://raw.githubusercontent.com/nosoop/SM-TFEconData/refs/heads/master/scripting/include/tf_econ_data.inc"
            "https://raw.githubusercontent.com/FortyTwoFortyTwo/VScript/refs/heads/main/scripting/include/vscript.inc"
            "https://raw.githubusercontent.com/nosoop/SMExt-SourceScramble/refs/heads/master/scripting/include/sourcescramble.inc"
          )

          mkdir -p "${{ env.SCRIPTS_PATH }}/include"

          for url in "${includes[@]}"; do
            echo "Downloading $url"
            curl --fail -sSL -O --output-dir "${{ env.SCRIPTS_PATH }}/include" "$url"
          done

      - name: Setup SourcePawn compiler
        id: setup_sp
        uses: rumblefrog/setup-sp@master
        with:
          version: ${{ env.SM_VERSION }}
          version-file: ${{ env.SCRIPTS_PATH }}/${{ env.PLUGIN_NAME }}.sp
          define-name: PLUGIN_VERSION

      - name: Compile plugin
        run: |
          mkdir -p ../plugins
          spcomp -v2 -E -i "include" -o "../plugins/${{ env.PLUGIN_NAME }}.smx" "${{ env.PLUGIN_NAME }}.sp"
        working-directory: ${{ env.SCRIPTS_PATH }}

      - name: Zip output
        run: zip -qq -r ${{ github.event.repository.name }}.zip addons/sourcemod

      - name: Create GitHub release
        if: github.ref_name == 'master'
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.setup_sp.outputs.plugin-version }}
          artifacts: ./${{ github.event.repository.name }}.zip
          draft: true
          allowUpdates: true
          updateOnlyUnreleased: true
          skipIfReleaseExists: true
